.PokemonList {
    border: 1px solid #2D5F17;
    background-color:silver;
    color: #000;
}
.image {
    text-align: center;

}
.name {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
.pokemon_types {
    display: flex;
    justify-content: center;
}
.pokemon-type {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background: #2D5F17;
    color: #fff;
}
.info {
    text-align: center;
}
.pokemon_info title{
    margin: 10px;
}
p {
    margin: 5px;
}
